footer.page-footer {
  margin-top: 0px;
}

#card {
  margin-top: 6%;
}

#register {
  left : 50%;
  margin-right: -50%;
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

