footer.page-footer {
  margin-top: 0px;
}

#card {
  margin-top: 6%;
}

#register {
  left : 50%;
  margin-right: -50%;
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.fixed {
  margin-left: 2%;
}

#sex {
  color: #9e9e9e;
  font-size: 1rem;
  cursor: text;
}

#nav-mobile > li.avatar {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 47%;
}

[type="checkbox"] + label {
  border-top-style: solid;
  border-top-width: 6px;
  border-color: transparent;
}

ul.collection > li {
  height: auto !important;
}

.collection .collection-item.avatar {
  height: 84px;
  padding-left: 24px;
  position: relative
}

.collection .collection-item.avatar .title {
  font-weight: 500;
  padding-left: 57px;
  margin-top: 2px !important;
}

.collection .collection-item.avatar .title .date {
  position: absolute;
  font-weight: 400;
  font-size: 0.8rem;
  padding-left: 1px;
  top: 32px;
}

.collection .collection-item.avatar .secondary-content {
  top: 11px;
}

.collection .collection-item.avatar .row.content {
  padding-top: 1rem;
}

table.comment thead tr th{
  font-size: 1.2rem;
}

table.comment tbody tr td:first-child {
  width: 33%;
}

table.comment tbody tr td:nth-child(2) {
  padding-left: 10%;
}

.align-button {
  padding-top: 0.7rem;
}

.trush-disabled {
  pointer-events: none;
  cursor: default;
  visibility: hidden;
}

.dropdown-content {
  z-index: 999 !important;
}
